<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Dashboard Tuteur</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../static/css/bootstrap.css" data-th-href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/dashboard-tuteur.css" data-th-href="@{/css/dashboard-tuteur.css}">
	<link rel="stylesheet" href="../../static/css/header.css" data-th-href="@{/css/header.css}">
	<link rel="stylesheet" href="../../static/css/footer.css" data-th-href="@{/css/footer.css}">
	<link rel="stylesheet" href="../../static/css/style.css" data-th-href="@{/css/style.css}">
    <script src="../../static/js/jquery-3.1.1.min.js" data-th-src="@{/js/jquery-3.1.1.min.js}" charset="utf-8"></script>
    <script src="../../static/js/bootstrap.js" data-th-src="@{/js/bootstrap.js}" charset="utf-8"></script>
    <script src="../../static/js/dashboard_tuteur.js" data-th-src="@{/js/dashboard_tuteur.js}" charset="utf-8"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="header" th:include="fragments/header-tuteur :: header-tuteur"></div>

<div class="container">
    <div class="grey-box col-md-8 col-md-offset-2 ">
        <form action="dashboard-tuteur-recherche?groupe=0" method="post">
            <div class="search-bar">
                <div class="">
                    <div class="col-md-offset-7 col-md-5">
                        <div class="input-group">
                            <input type="text" class="form-control" name="motCle"
                                   placeholder="Chercher un groupe ou un élève"/>
                            <span class="input-group-btn">
                            <button class="btn btn-default btn-search" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div> <!--/.row -->
            </div>
        </form>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Mes groupes (tuteur)</th>
                <th>Promo</th>
                <th>Semester</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="groupe:${tuteurListGroupe}">
                <td th:text="${groupe.nom}"></td>
                <td th:text="${groupe.promo}"></td>
                <td th:text="${groupe.semester}"></td>
                <td>
                    <a th:href="|${redirection}?groupe=${groupe.id}&recherche=${motCle}|"><span class="glyphicon glyphicon-eye-open"
                                                                              aria-hidden="true"></span></a>
                </td>
                <td>
                    <a th:href="|grilleprofvue?groupe=${groupe.id}&domain=${domainId}|"><span class="glyphicon glyphicon-list-alt"
                                                                                    aria-hidden="true"></span></a>
                </td>
            </tr>
            <tbody>
        </table>


        <table class="table table-hover">
            <thead>
            <tr>
                <th>Mes groupes (Client)</th>
                <th>Promo</th>
                <th>Semester</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="groupe:${clientListGroupe}">
                <td th:text="${groupe.nom}"></td>
                <td th:text="${groupe.promo}"></td>
                <td th:text="${groupe.semester}"></td>
                <td>
                    <a th:href="|${redirection}?groupe=${groupe.id}&recherche=${motCle}|"><span class="glyphicon glyphicon-eye-open"
                                                                              aria-hidden="true"></span></a>
                </td>
                <td>
                    <a th:href="|grilleprofvue?groupe=${groupe.id}&domain=${domainId}|"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
                </td>
            </tr>
            <tbody>
        </table>
    </div>

    <!-- Modal visualisation groupe user -->
    <div class="modal fade" id="modal_visualisation_groupe_user" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" th:text="${selectedGroupe.nom}"></h4>
                </div>

                <div class="modal-body">
                    <div class="visualisation_membres">

                        <!-- 1er membre -->
                        <div class="membre row" th:each="user : ${listGroupeUsers}">
                            <p class="nom_membre col-sm-4 text-right" th:text="${user.nom}"></p>
                            <p class="nom_membre col-sm-4 text-center" th:text="${user.prenom}"></p>
                            <p class="nom_membre col-sm-4 text-left" th:text="${user.classe}"></p>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
</body>
  <div class="footer" th:include="fragments/footer :: footer">ISEP</div>
</html>
