<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="utf-8">
    <title>Présence</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" data-th-href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/presence-tuteur.css" data-th-href="@{/css/presence-tuteur.css}">
    <link rel="stylesheet" href="../../static/css/jquery-ui.min.css" data-th-href="@{/css/jquery-ui.min.css}">
    <link rel="stylesheet" href="../../static/css/header.css" data-th-href="@{/css/header.css}">
    <script src="../../static/js/jquery-3.1.1.min.js" data-th-src="@{/js/jquery-3.1.1.min.js}" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../../static/js/bootstrap.js" data-th-src="@{/js/bootstrap.js}" charset="utf-8"></script>
    <script src="../../static/js/presence-tuteur.js" data-th-src="@{/js/presence-tuteur.js}" charset="utf-8"></script>


<body>
<div th:include="fragments/header-tuteur :: header-tuteur"></div>
<div class="container">

    <div class="skills col-md-8 col-md-offset-2 ">
        <div class="skills-title"><h1>Présence</h1></div>

        <div class="grades-header row">
            <form action="presence-groupe-recherche?groupe=0" method="post">
                <div class="search-bar">
                    <div class="">
                        <div class="col-md-offset-7 col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control" name="motCle" placeholder="Chercher un groupe...">
                                <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"
                                                                    aria-hidden="true"></span></button>
              </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div> <!--/.row -->
                </div>
            </form>
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div th:each="promo : ${mapGroupeByPromo}" class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" th:href="|#${promo.key}|"
                           aria-expanded="true" aria-controls="#${promo.key}">
                            <div class="row">
                                <span class="glyphicon glyphicon-triangle-bottom col-sm-1" aria-hidden="true"></span>
                                <p th:text="|Promotion : ${promo.key}" |></p>
                            </div>
                        </a>
                    </h4>
                </div>
                <div th:id="${promo.key}" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="headingOne">
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Mes groupes</th>
                                <th>Ajouter une présence</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="groupe : ${promo.value}">
                                <td th:text="${groupe.nom}"></td>
                                <td>
                                    <!--
                                    <button type="button" class="btn btn-default bouton_connexion" data-toggle="modal"
                                            data-target="#modalAdd"><span class="glyphicon glyphicon-plus"
                                                                          aria-hidden="true"></span></button>
                                    -->
                                    <a th:href="|${redirection}?groupe=${groupe.id}&recherche=${motCle}|"><span
                                            class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                </td>
                            </tr>
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal 2 -->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalTwpLabel" th:text="${modalTitle}"></h4>
            </div>
            <div class="modal-body">
                <form class="modify-attendance" th:action="presence-submit" method="post">
                    <div class="attendance-form">
                        <p th:text="${date}"></p>

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Présent</th>
                                <th>Absent</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="eleve : ${listGroupeEleve}">
                                <td th:text="${eleve.nom}"></td>
                                <td th:text="${eleve.prenom}"></td>
                                <td><input th:onclick="|autoComplete(${eleve.id}, this.value);|" type="radio"
                                           th:name="${eleve.id}" value="1"></td>
                                <td><input th:onclick="|autoComplete(${eleve.id}, this.value);|" type="radio"
                                           th:name="${eleve.id}" value="0"></td>
                                <input th:id="${eleve.id}" type="hidden" name="motCle">
                            </tr>

                            <tbody>

                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="buton" class="btn btn-default bouton_connexion">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>
