<!DOCTYPE html>
<html xmlns:th ="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>

HELLO

<!--
    <table>
        <thead>
            <tr>
                <th>ID</th><th>Nom</th><th>Promo</th><th>Semester</th>
            </tr>
        </thead>
        <tbody>
         <tr th:each="groupe:${listGroupe}">
             <td th:text="${groupe.id}"></td>
             <td th:text="${groupe.nom}"></td>
             <td th:text="${groupe.promo}"></td>
             <td th:text="${groupe.semester}"></td>
         </tr>
        </tbody>
    </table>
-->

</body>
</html>