<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>



<form th:action="chercher"  method="post">
    <label>Presence :</label>
    <div th:each = "user,iterStat : ${listUser}">
        <p th:text="${iterStat.index}"></p></br>
        <p th:text="${user.nom}"></p>
        <input th:onclick="|test(${user.id}, this.value);|"  type="radio" th:name="${user.id}" value="1">
        <input th:onclick="|test(${user.id}, this.value);|"  type="radio" th:name="${user.id}" value="0">
        <input th:id="${user.id}" type="hidden" name = "motCle">
    </div>

    <input type="submit" value="Valider"/>

</form>

</body>

<script type="text/javascript">

    function test(id, value){
        document.getElementById(id).value = value;
    }


</script>
</html>