<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gestion Grilles</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css" data-th-href="@{/css/bootstrap.css}">
	<link rel="stylesheet" href="../../static/css/gestiongrilles.css" data-th-href="@{/css/gestiongrilles.css}">
	<link rel="stylesheet" href="../../static/css/header.css" data-th-href="@{/css/header.css}">
	<link rel="stylesheet" href="../../static/css/footer.css" data-th-href="@{/css/footer.css}">
	<link rel="stylesheet" href="../../static/css/style.css" data-th-href="@{/css/style.css}">
	<script src="../../static/js/jquery-3.1.1.min.js" data-th-src="@{/js/jquery-3.1.1.min.js}" charset="utf-8"></script>
	<script src="../../static/js/bootstrap.js" data-th-src="@{/js/bootstrap.js}" charset="utf-8"></script>
</head>

	<body>
<div class="header" th:include="fragments/header-respo :: header-respo"></div>
	<!-- <header>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><img src="../../static/img/iseplogo.png" data-th-src="@{/img/iseplogo.png}" class="logo" alt=""></a>
					<a href="#" class="navbar-brand">Alizée Faytre</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="index.html">Home</a></li>
						<li><a href="index.html">Groupes</a></li>
						<li><a href="index.html">Domaines</a></li>
						<li><a href="index.html">Compétences</a></li>
						<li><a href="index.html">Deadlines</a></li>
						
						<li><a href="#" class="btn btn-default btn-outline btn-circle collapsed">Deconnexion</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header> -->

		<div class="container">
			<div class="row">
				<div class="new_grille col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
					
					<a href="new_domain" class="new_grille_lien">Nouveau domaine </a>
			    </div>
			</div>

			<div class="row">

				<div th:each="domain:${listDomain}" class="grille col-xs-12 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1" style="margin-bottom:20px">
					<div class="boite">
						<h4 th:text="${domain.name}"></h4>
					</div>
					<div class="boite">
						<button type="button" class="btn btn-default modif" aria-label="Modification">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-default modif" aria-label="Modification">
							<a th:href="|delete-domain?domain=${domain.id}|"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
						</button>
					</div>
				</div>

			</div>

			
			<div class="row">
				<div class="attribution_grilles col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
					<h3>Attribution des domaines par classe</h3>
			    </div>
			</div>


			<div class="row">
				<table class="table table-bordered tableau_grilles">
					<tr>
						<th>Promotion</th>
						<th colspan="8">Domaines</th>
						<th>Modifier</th>
						<th>Supprimer</th>
					</tr>

					<tr th:each="promo:${domainByPromo}">
						<td th:text="${promo.key}">I1</td>
						<td th:each="domain:${promo.value}" th:text="${domain.name}">1</td>
						<td>
							<button type="button" class="btn btn-default modif" aria-label="Modification">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							</button>
						</td>
						<td>
							<button type="button" class="btn btn-default suppr" aria-label="Suppression">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button>
						</td>
					</tr>

					<!--<tr>
						<td>A2</td>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>
							<button type="button" class="btn btn-default modif" aria-label="Modification">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							</button>
						</td>
						<td>
							<button type="button" class="btn btn-default suppr" aria-label="Suppression">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
					
					<tr>
						<td>A1</td>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<button type="button" class="btn btn-default modif" aria-label="Modification">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							</button>
						</td>
						<td>
							<button type="button" class="btn btn-default suppr" aria-label="Suppression">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button>
						</td>
					</tr>

					<tr>
						<td>A2</td>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td></td>
						<td></td>
						<td>
							<button type="button" class="btn btn-default modif" aria-label="Modification">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							</button>
						</td>
						<td>
							<button type="button" class="btn btn-default suppr" aria-label="Suppression">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button>
						</td>
					</tr>-->
				</table>
			</div>

		</div>
	  <div class="footer" th:include="fragments/footer :: footer">ISEP</div>
	</body>	

</html>