<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<html>
<head>
	<meta charset="utf-8">
	<title>Nouvelle Grille</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css" data-th-href="@{/css/bootstrap.css}">
	<link rel="stylesheet" href="../../static/css/gestiongrilles.css" data-th-href="@{/css/gestiongrilles.css}">
	<script src="../../static/js/jquery-3.1.1.min.js" data-th-src="@{/js/jquery-3.1.1.min.js}" charset="utf-8"></script>
	<script src="../../static/js/bootstrap.js" data-th-src="@{/js/bootstrap.js}" charset="utf-8"></script>
</head>

	<body>

	<header>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><img src="../../static/img/iseplogo.png" data-th-src="@{/img/iseplogo.png}" class="logo" alt=""></a>
					<a href="#" class="navbar-brand">Alizée Faytre - A2</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="index.html">Home</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grille <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Informatique</a></li>
								<li><a href="#">Electronique</a></li>
								<li><a href="#">Telecomunication</a></li>
								<li><a href="#">Compétences professionnelles</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filtres <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#"><input type="checkbox" name="" value="Alizee"><span> Alizée</span></a></li>
								<li><a href="#"><input type="checkbox" name="" value=""><span> Aude</span></a></li>
								<li><a href="#"><input type="checkbox" name="" value=""><span> Esther</span></a></li>
								<li><a href="#"><input type="checkbox" name="" value=""><span> Thomas</span></a></li>
								<li><a href="#"><input type="checkbox" name="" value=""><span> Jiawei</span></a></li>
							</ul>
						</li>
						<li><a href="#" class="btn btn-default btn-outline btn-circle collapsed">Deconnexion</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

		<div class="container-fluid">
			<div class="row">
				<div class="identifiants col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
					<h1 class="titre_form">Nouvelle grille de compétences</h1>
			    	<form action="new_domain_insert" method="post">
						<div class="form-group">
							<label>Nom de la grille</label>
							<input type="text" class="form-control" name="name" placeholder="Saisissez le nom de la grille">
						</div>

						<div  class="form-group">
							<label >Choix des compétences</label><br />
							<div th:each="skill:${listSkill}">
								<label th:text="${skill.name}"></label>&nbsp;<input type="checkbox" name="competences" id="comp1" value="comp1" /><br />
							</div>
						</div>
						<!--<div class="form-group">
							<label >Liste des compétences sélectionnées</label><br />
							<ul>
								<li>Compétence 1</li>
								<li>Compétence 2</li>
								<li>Compétence 3</li>
								<li>Compétence 4</li>
							</ul>
						</div>-->
						<input type="submit" class="btn btn-default bouton_connexion" value="Save"><!--Valider la grille--></input></br></br>
					</form>

			    </div>
			</div>
		</div>

	</body>	
</html>