<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
<meta charset="utf-8">
	<link rel="stylesheet" href="../../static/css/bootstrap.css" data-th-href="@{/css/bootstrap.css}">
	<link rel="stylesheet" href="../../static/css/footer.css" data-th-href="@{/css/footer.css}">
	<script src="../../static/js/jquery-3.1.1.min.js" data-th-src="@{/js/jquery-3.1.1.min.js}" charset="utf-8"></script>
	<script src="../../static/js/bootstrap.js" data-th-src="@{/js/bootstrap.js}" charset="utf-8"></script>
</head>
<body>
<div class="footer" th:fragment="footer">
	<p class="footer-links">
      <a href="#">Home</a>
      &bull;
      <a href="https://educ.isep.fr/moodle/login/index.php">Moodle</a>
      &bull;
      <a href="http://planning.isep.fr/">Hyperplanning</a>
      &bull;
      <a href="#">FAQ</a>
      &bull;
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">Copyright &copy; 2017 Institut Sup&eacute;rieur d'&Eacute;lectronique de Paris. Tous droits r&eacute;serv&eacute;s.</p>
</div>
</body>
</html>