






.btn-search{
  display:block;
  margin-right: auto !important;
}

.form-control{
	display:block;
	vertical-align:center-block;
	width:50%;
	margin-bottom:5%;
	margin-left:auto;
	margin-right:auto;
}

.btn-submit{
	display:block;
	margin-right: auto !important;
	margin-left: auto !important;
}

.add-skill .btn-default{
  font-family:sans-serif !important;}


.grey-box .panel-group{
  margin-top:50px;
  width:500px;
  height: 300px;
  margin-left:auto;
  margin-right:auto;
  overflow : scroll;
  overflow-x: auto;
}


.btn{
	opacity: 1 !important;
}

.table{
	background-color:inherit !important;
}
