.title1 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: left;
  width: auto;
  margin: auto;
  padding: auto;
  overflow: hidden;
  border: 0 solid;
  border-bottom: 2px solid rgba(90,90,90,1);
  font: normal normal bold 30px/1 sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

li{
  list-style-type: none;
}


.table{
  display : block;
  width : 500px;
  height : 200px;
  margin-left : auto;
  margin-right : auto;
  margin-bottom : 15px;
  margin-top : 15px;
  overflow : scroll;
  overflow-x: auto;
  background-color:#C8C8C8 !important;
}




.panel-default{
  background-color:#C8C8C8;
  border-radius:15px;
  width:50%;
  margin:auto;
  opacity:0.8;
}

.search-bar{
	display:block;
  margin-bottom:5%;
  margin-top:2%;
}

.row .table-hover{
	margin-top:10%;
	margin-bottom: 5%;
}

.btn-search{
  display:block;
  margin-right: auto !important;
}
