
.add-skill .btn-default{
  font-family:sans-serif !important;}

/*.skills-title h1{
  display:block;
  vertical-align:center-block;
  text-align:center;
}*/
.grey-box .panel-group{
  margin-top:50px;
  width:500px;
  height: 300px;
  margin-left:auto;
  margin-right:auto;
  overflow : scroll;
  overflow-x: auto;
}

/*.grey-box-header {
  margin-top:20px;
}*/





.btn-search{
  display:block;
  margin-right: auto !important;
}
