/* optimize for 320 x 480 px*/
.logo{
    height: 2em;
}

.btn.btn-circle {
    border-radius: 50px;
}

a.btn-circle:hover {
    color: white !important;
    background-color: #156EAB !important;
}

.header{
	position:fixed;
	z-index:9999;
	background-color:#fff;
	right:0;
	left:0;
	height:0px
}




   

	
	