

/*.skills-title h1{
  display:block;
  vertical-align:center-block;
  text-align:center;
}*/
.grey-box .panel-group{
  margin-top:50px;
  width:500px;
  margin-left:auto;
  margin-right:auto;
}


.table{
  display : block;
  width : auto !important;
  height : 200px;
  background-color:inherit !important;
  margin-bottom : 15px;
  margin-top : 15px;
  overflow : scroll;
  overflow-x: auto;
  text-align:center;
}