.newSection{
  margin-top: 50px;
}

a h3 {
  color: black;
}

.borderRed{
  border: solid 3px red;
}

.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
}

