<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" data-th-href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/style.css" data-th-href="@{/css/style.css}">
    <link rel="stylesheet" href="../../static/css/login.css" data-th-href="@{/css/login.css}">
    <link rel="stylesheet" href="../../static/css/footer.css" data-th-href="@{/css/footer.css}">
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="grey-box col-xs-9 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <h1 class="titre_form">Grille de compétences APP!</h1>
                <form data-th-action="@{/login}" method="post">
                    <div class="form-group">
                        <label>Identifiant</label>
                        <input type="text" name="username" class="form-control" placeholder="Saisissez votre identifiant">
                    </div>
                    <div class="form-group">
                        <label>Mot de passe</label>
                        <input type="password" name="password" class="form-control" placeholder="Saisissez vore mot de passe">
                    </div>
                    <button type="submit" class="btn btn-default bouton_connexion">Se connecter</button><br>
                </form>

            </div>
        </div>
    </div>
  <div class="footer" th:include="fragments/footer :: footer">ISEP</div>
</body>

</html>