<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Grille de compétence</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" data-th-href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/grilleEleve.css" data-th-href="@{/css/grilleEleve.css}">
    <link rel="stylesheet" href="../../static/css/cssGeneral.css" data-th-href="@{/css/cssGeneral.css}">
    <script src="../../static/js/jquery-3.1.1.min.js" data-th-src="@{/js/jquery-3.1.1.min.js}" charset="utf-8"></script>
    <script src="../../static/js/bootstrap.js" data-th-src="@{/js/bootstrap.js}" charset="utf-8"></script>
    <script src="../../static/js/grilleEleve.js" data-th-src="@{/js/grilleEleve.js}" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img data-th-src="@{/img/iseplogo.png}" src="iseplogo.png" class="logo" alt=""></a>
            <a href="#" class="navbar-brand">Alizée Faytre - A2</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grille <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Informatique</a></li>
                  <li><a href="#">Electronique</a></li>
                  <li><a href="#">Telecomunication</a></li>
                  <li><a href="#">Compétences professionnelles</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filtres <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><input class="filtre" type="checkbox" name="" checked value="Alizee"><span> Alizée</span></a></li>
                  <li><a href="#"><input class="filtre" type="checkbox" name="" checked value=""><span> Aude</span></a></li>
                  <li><a href="#"><input class="filtre" type="checkbox" name="" checked value=""><span> Esther</span></a></li>
                  <li><a href="#"><input class="filtre" type="checkbox" name="" checked value=""><span> Thomas</span></a></li>
                  <li><a href="#"><input class="filtre" type="checkbox" name="" checked value=""><span> Jiawei</span></a></li>
                </ul>
              </li>
              <li><a href="#" class="btn btn-default btn-outline btn-circle collapsed">Deconnexion</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <table class="tg table table-bordered col-md-12">
        <!-- en tête du tableau ! -->
        <tr>
          <th class="tg-baqh competence" colspan="9">Composante informatique : concevoir et réaliser un site Web</th>
        </tr>
        <tr class="last">
          <td class="tg-yw4l col-md-3 grey" ></td>
          <td class="tg-baqh col-md-3 grey" >observation sur l'équipe</td>
          <td class="tg-baqh col-md-3 grey" >observation individuelles</td>
          <td class="tg-baqh col-md-1 grey" >niveau individuel</td>
          <td class="tg-baqh col-md-1 grey" >étudiants</td>
        </tr>
        <!-- fin de l'entete du tableau -->
        <tbody class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- une compétence -->
          <tbody data-th-each="competence : ${ligneGrille}" class="panel panel-default">


                  <tr class="panel-heading" role="tab" id="headingOne">
                      <td class="competence intitule panel-title" colspan="9">
                          <a data-th-text="${competence.key.competenceName}" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Specification des besoins (MOA)
                          </a>
                      </td>
                  </tr>

              <!--<tbody class="completeCompetence">
                  <tbody class="panel-body completeCompetence panel-collapse collapse in" id="collapseOne" role="tabpanel" aria-labelledby="headingOne" >-->
                  <tr>
                      <td data-th-text="${competence.key.competenceDescription}" class="tg-yw4l grey" rowspan="7">extraire et comprendre les besoins fonctionnel et non fonctionnel</td>
                      <td data-th-text="${competence.key.generalObservation}" class="tg-yw4l cellule" rowspan="7">ici iront les commentaires generaux</td>
                      <td data-th-text="${competence.key.individualObservation}" class="tg-yw4l cellule 0">observation individuel eleve 1</td>
                      <div data-th-switch="${competence.key.competenceEvaluate}">
                          <td data-th-case="'Loin'" class="loin tg-yw4l" data-toggle="tooltip" data-container="body" data-placement="top" title="Loin"></td>
                          <td data-th-case="'Proche'" class="tg-yw4l proche 0" data-toggle="tooltip" data-container="body" data-placement="top" title="Proche"></td>
                          <td data-th-case="'Très Proche'" class="tg-yw4l tres-proche 0" data-toggle="tooltip" data-container="body" data-placement="top" title="Très Proche"></td>
                          <td data-th-case="'Attendu'" class="tg-yw4l attendu 0" data-toggle="tooltip" data-container="body" data-placement="top" title="Attendu" ></td>
                          <td data-th-case="'Au-delà'" class="tg-yw4l au-dela 0" data-toggle="tooltip" data-container="body" data-placement="top" title="Au-delà"></td>
                          <td data-th-case="*" class="tg-yw4l 0"></td>
                      </div>
                      <td data-th-text="${competence.key.userName}"  class="tg-yw4l grey 0">Alizée Faytre</td>
                  </tr>
                  <tr data-th-each="nextUser : ${competence.value}">
                      <td data-th-text="${nextUser.individualObservation}" class="tg-yw4l cellule 1">observation individuel du deuxième eleves qui est un cancre absolue c'est pas possible d'etre aussi nul !!</td>
                      <div data-th-switch="${nextUser.competenceEvaluate}">
                          <td data-th-case="'Loin'" class="loin tg-yw4l" data-toggle="tooltip" data-container="body" data-placement="top" title="Loin"></td>
                          <td data-th-case="'Proche'" class="tg-yw4l proche 0" data-toggle="tooltip" data-container="body" data-placement="top" title="Proche"></td>
                          <td data-th-case="'Très Proche'" class="tg-yw4l tres-proche 0" data-toggle="tooltip" data-container="body" data-placement="top" title="Très Proche"></td>
                          <td data-th-case="'Attendu'" class="tg-yw4l attendu 0" data-toggle="tooltip" data-container="body" data-placement="top" title="Attendu"></td>
                          <td data-th-case="'Au-delà'" class="tg-yw4l au-dela 0" data-toggle="tooltip" data-container="body" data-placement="top" title="Au-delà"></td>
                          <td data-th-case="*" class="tg-yw4l 0"></td>
                      </div>
                      <td data-th-text="${nextUser.userName}" class="tg-yw4l grey 1">Deuxième eleve !</td>
                  </tr>
                <!--</tbody>
              </tbody>-->
          </tbody>
          

          <!-- fin de la compétence -->
        </tbody>



      </table>
    </div>
  </body>
</html>
